{% extends 'base.html' %}

{% block title %}Cameras{% endblock %}

{% block content %}


<h2>Cameras</h2>
<div class="row">
    {% for item in object_list %}
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <img src="{{ item.image.url }}" class="card-img-top" alt="{{ item.name }}">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">{{ item.name }}</h5>
                <p class="card-text">{{ item.description }}</p>
                <p class="card-text mt-auto">Price: ${{ item.price }}</p>
                <a href="{% url 'rent_item' item.id %}" class="btn btn-primary">Rent</a>
                <a href="{% url 'add_to_cart' item.id %}" class="btn btn-primary">Add to Cart</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
